<div class="notes">
<h1>Notes</h1>
<p> I have created a Grid layout for viewing photos , as you have said.You can see for large sreen sizes the no. of columns is 4 and for smaller screen sizes(mobile devices) the no. of colum in 3</p>
<p>For this grid layout, I have used <a href="https://github.com/s-yadav/angulargrid">Angulargrid</a>,<a href="https://github.com/noraesae/perfect-scrollbar">Perfect-Scrollbar</a>,</p>

<p>In this grid layout,you can also see I have implemented infinte scroll.I have kept it simple.If you click on any photo,a popup will show , which contains the details of the photo you click.For the photos, that you are viewing , are from dribble.I'm using dribble API for that purpose.</p>
</div>    